doctype html
html
  head
    title My Express App
    link(rel="stylesheet" href="/css/styles.css")
  body
    h1 Welcome to My App
    p This is a sample page using Pug template engine.
    a(href="/admin/addProject") Add Project
    a(href="/admin/addSkill") Add Skill
